# xcode noise
universaldemo/universaldemo.xcodeproj/xcuserdata/netloner.xcuserdatad/
universaldemo/universaldemo.xcodeproj/project.xcworkspace/xcuserdata/netloner.xcuserdatad/
src/TapkuLibrary.xcodeproj/xcuserdata/netloner.xcuserdatad/
build
TapkuLibrary/build/**
TapkuLibraryDemo/build/**
*.pbxuser
*.perspectivev3
*.mode1v3

# old skool
.svn
.cvs

# osx noise
.DS_Store
#profile
